.home {
  padding: 24px;
}

.sectionTitle {
  margin-top: 32px;
  margin-bottom: 12px;
  font-size: 20px;
  font-weight: 600;
}
.topcard {
  display: flex;
}

.topcard h3 {
  flex: 1;
}

.toggleBtn {
  height: 32px;
  width: 32px;
  border: 1px solid #ddd;
  border-radius: 6px;
  cursor: pointer;
  background: white;
  transition: 0.2s;
}
.toggleBtn svg {
  font-size: 16px;
}
.active {
  background: #1447e6;
  color: white;
}


.grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 16px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.upfile{
  padding-top:40px;
}

.uploadCard:hover,
.folderCard:hover {
  border-color: #2563eb;
  cursor: pointer;
}