
.header {
  position: sticky;
  width: 100%;
  height: 78px;
  background-color: #fff;
  border-bottom: 1px solid #e5e7eb;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 62px;
  z-index: 100;
}

.searchSection {
  display: flex;
  align-items: center;
  gap: 8px;
  flex: 1;
  max-width: 400px;
}

.searchIcon {
  color: #9ca3af;
  font-size: 16px;
}
.searchBar {
  display: flex;
  align-items: center;
  background: #f9fafb;
  border: 1px solid #e5e7eb;
  border-radius: 8px;
  padding: 6px 12px;
  gap: 8px;
  width: 100%;
  max-width: 300px;
}

.searchInput {
  background-color: #f9fafb;
  display: flex;
  width: 100%;
  padding: 8px 12px;
  border: 1px none;
  border-radius: 8px;
  font-size: 14px;
  outline: none;
  transition: border 0.2s;
}

.searchInput:focus {
  border-color: #2563eb;
}

.userSection {
  display: flex;
  align-items: center;
  gap: 16px;
}

.userActions {
  display: flex;
  align-items: center;
  gap: 16px;
}

.iconButton {
  width: 42px;
  height: 42px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #d1d5db;
  border-radius: 50%;
  background: white;
  cursor: pointer;
  transition: 0.2s;
}

.iconButton:hover {
  background: #f3f4f6;
  border-color: #2563eb;
}

.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
  object-fit: cover;
  cursor: pointer;
}

.avatar:hover {
  border-color: #2563eb;
}
