.tag {
  font-size: 12px;
  padding: 4px 8px;
  border-radius: 8px;
  font-weight: 500;
  display: inline-block;
}


.contrato {
  background: #e6f0ff;
  color: #2264e5;
}

.livro {
  background: #e8f9ee;
  color: #2b8a47;
}

.rpg {
  background: #ffeceb;
  color: #c53d38;
}
