.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.icon {
  font-size: 22px;
  opacity: 0.5;
}

.name {
  font-size: 12px;
  font-weight: 500;
}

.size {
  flex: 0;
  font-size: 12px;
  opacity: 0.6;
  white-space: nowrap;
}

