.gridCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.icon {
  flex-shrink: 0;
}

.iconGrid {
  font-size: 22px;
}


.listCard {
  display: grid;
  grid-template-columns: 32px 1fr 140px 100px 120px;
  align-items: center;

  padding: 12px 16px;
  border-radius: 8px;
  cursor: pointer;
}


.listCard:hover {
  background-color: #f8fafc;
}

.listCard:last-child {
  border-bottom: none;
}

.listIcon {
  font-size: 16px;
}

.name {
  display: flex;
  align-items: center;
  gap: 8px;
  font-size: 12px;
  font-weight: 500;
}

.size, 
.date {
  font-size: 12px;
  opacity: 0.6;
  white-space: nowrap;
  color: #717182
}

/* Cores por tipo */
.rpg {
  color: #C10007;
}

.livro {
  color: #008236;
}

.contrato {
  color: #1447E6;
}
