.container {
  display: flex;
  flex-direction: column;
  gap: 8px;
  width: 100%;
}

.info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.icon {
  font-size: 22px;
  
}

.gridCard {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.listCard {
  display: grid;
  grid-template-columns: 30px 1fr 150px;
  align-items: center;
  gap: 16px;
}


.name {
  font-size: 12px;  
  font-weight: 500;
}

.size {
  flex: 0;
  font-size: 12px;
  opacity: 0.6;
  white-space: nowrap;
}



/* Cores por tipo */
.rpg {
  color: #C10007;
}

.livro {
  color: #008236;  
}

.contrato {
  color: #1447E6;  
}
