@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

body {
  font-family: 'Poppins', sans-serif;
}

.main{
  width: 100%;
  min-height: 100vh; 
  display: flex;
}

.conteudo{
  height: 100%;
  flex: 1;
}